.phantom {
	
}

.portlet-title {
	font-weight: bold;
	color: red;
	border: 2px dotted orange;
}

a {
	font-family: monospace;
	font-weight: bold;
	text-decoration: underline;
}

input[type=text] {
	background-color: #EE0000;
}